.budget-form {
    height: 100%;
    display: flex;
    flex-direction: column;

    & .form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    & .fields {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 0.5rem;
        overflow: auto;

        & h4 {
            margin-block-end: 0.5rem;
        }

        & h6 {
            margin: -0.5rem 0 1rem;
        }
    }


    & .field--checkbox {
        display: flex;
        justify-content: space-between;

        & label {
            flex-grow: 1;
            margin: 0 1rem;
        }
    }

    & .buttons {
        display: flex;
        justify-content: space-between;

        & button {
            width: 45%;
        }
    }

}