.transactions-list__new {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
}
.transactions-list__new input {
    flex-grow: 1;
    display: block;
}
.transactions-list__new .transactions-list__amount-wrapper {
    display: flex;    
}
.transactions-list__new .transactions-list__comment {
    border: none;
}
.transactions-list__items {
    display: flex;
    flex-direction: column-reverse;
}