.budgets-list-item {
    margin: 0 0.5rem;
    padding: 1rem 0;
    border-bottom: 1px solid lightblue;
    will-change: transform, height;
    display: block;
    transition: transform 0.3s ease-in-out;
    transform: unset;
    position: relative;
    order: attr(data-id);
}

.budgets-list-item.exit {
    transform: translateX(-125%);
}

.budgets-list-item.hidden {
    visibility: hidden;
    height: 0;
    padding: 0;
    border-bottom: none;
}

.budgets-list-item--selected {
    /* order: -1; */
    border-right: 3px solid salmon;
}
