.budgets-list-item {
    margin: 0 0.5rem;
    padding: 1rem 0.5rem;
    will-change: transform, height;
    display: block;
    transition: transform 0.3s ease-in-out;
    transform: unset;
    position: relative;
    border-color: transparent;
    border-bottom-color: black;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.budgets-list-item.exit {
    transform: translateX(-125%);
}

.budgets-list-item.hidden {
    visibility: hidden;
    height: 0;
    padding: 0;
    border-bottom: none;
}

.budgets-list-item--selected {
    /* order: -1; */
    border-bottom-color: salmon;
}

.budgets-list-item__my-balance {
    font-style: italic;
}

.budgets-list-item__counter {
    display: flex;
    align-items: flex-end;
}
.budgets-list-item__counter::before {
    display: inline-block;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    align-self: center;
    font-size: 0.5rem;
    letter-spacing: 1.5px;
}
.budgets-list-item__counter--positive::before {
    background-color: lightgreen;
    content: '+';
}
.budgets-list-item__counter--negative::before {
    background-color: indianred;
    content: '-';
}
.budgets-list-item__participants {
    font-size: small;
    margin-top: 0.25rem;
    display: block;
}
