.feature-detector {
    margin: 1rem;
}
.feature-detector__feature-wrapper {
    display: flex;
    justify-content: space-between;
}
.feature-detector__feature-value {
    display: inline-block;
}
.feature-detector__feature-value::before {
    display: inline;
}
.feature-detector__feature-value--yes::before {
    content: 'yes';
    color: cadetblue;
}
.feature-detector__feature-value--no::before {
    content: 'no';
    color: brown
}