#menu {
    padding: 0.5rem;
    font-size: var(--font-size-3);
    line-height: var(--font-lineheight-5);

}
#menu .menu-item {
    display: block;
    text-decoration: none;
}

@media screen and (max-width: 425px) {
    #menu {
        width: fit-content;
    }

    #menu .menu-item {
        white-space: pre;
    }
}
