.transactions-list__new {
    display: flex;
    margin: 1rem 0;
}
.transactions-list__new input {
    flex-grow: 1;
    display: block;
}
.transactions-list__items {
    display: flex;
    flex-direction: column-reverse;
}
