#layout-main {
    display: flex;
    justify-content: flex-start;
    opacity: 1;
    will-change: opacity;
    transition: opacity 0.1s ease;
    height: 100%;
}

#layout-main.exit {
    opacity: 0;
}

@media screen and (max-width: 425px) {
    #layout-main #create-form {
        width: 100%;
    }
}