#budget-details {
    flex-grow: 1;
    opacity: 1;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    padding: 1rem;
    overflow: auto;
}
#budget-details.exit,
#budget-details.hidden {
    transform: translateY(1rem);
    opacity: 0;
}
.budget-details__counters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.budget-details__counter-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.budget-details__counter {
    font-size: 4rem;
    padding: 1rem;
    display: flex;
    align-items: flex-end;
}
.budget-details__counter::before {
    display: inline-block;
    background-color: lightgreen;
    content: '+';
    border-radius: 50%;
    width: 1.15rem;
    height: 1.15rem;
    align-self: center;
    font-size: 1rem;
    text-align: center;
    margin: 0 0.25rem;
}
.budget-details__counter--negative::before {
    background-color: indianred;
    content: '-';
}
.budget-details__counter--zero::before {
    display: none;
}
.budget-details__counter::after {
    display: inline-block;
    content: '₽';
    font-size: 50%;
    margin: 0 0.25rem;
}


.budget-details__counters,
.budget-details__transactions {
    max-width: 50%;
    margin: auto;
}
@media screen and (max-width: 425px) {
    .budget-details__counters,
    .budget-details__transactions {
        max-width: 100%;
    }
}

