#layout-login {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    justify-content: center;
    /* font: var(--font-serif); */
}
#layout-login .layout-login__prompt {
    font-weight: 500;
}
#layout-login .layout-login__prompt-detail {
    font-weight: 500;
}

@media screen and (max-width: 425px) {
    #layout-login {
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
