#layout-login {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 90vh;
    justify-content: center;
    /* font: var(--font-serif); */
}
#layout-login .layout-login__prompt {
    font-weight: 500;
    font-size: 5vh;
}
#layout-login .layout-login__prompt-detail {
    font-weight: 500;
    font-size: 4vh;
}
#layout-login .layout-login__aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0.5rem;
    color: darkslategray;
    font-size: 1.75vh;
}

@media screen and (max-width: 425px) {
    #layout-login {
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
