#new-budget__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-width: 300px;
}
.new-budget__fields {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0.5rem;
}
.new-budget__buttons {
    display: flex;
    justify-content: space-between;
}
.new-budget__buttons button {
    width: 45%;
}
.new-budget__fields strong {
    display: inline-block;
    margin: 1rem 0 0.25rem;
}
.new-budget__suggested-participants-item {
    display: flex;
    justify-content: space-between;
}
.new-budget__suggested-participants-item label {
    flex-grow: 1;
}
