#budgets-list {
    flex-basis: 25%;
    max-width: 300px;
    min-width: 100px;
    overflow: auto;
    max-height: 100%;
    flex-shrink: 0;
    opacity: 1;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    display: flex;
    flex-direction: column-reverse;
}
.budgets-list--empty #budgets-list__items::before {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 300;
    content: 'Nothing here...';
    height: 100%;
    color: gray;
    z-index: 1;
}
#budgets-list__items {    
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
}
#budgets-list.exit,
#budgets-list.hidden {
    transform: translateX(-1rem);
    opacity: 0;
}
.budgets-list__actions {
    display: flex;
    width: 100%;
}
#budgets-list__create-button {
    flex-grow: 1;
}
#budgets-list__menu-button {
    background: none;
    width: 1.5rem;
    height: 1rem;
    border: none;
    border-top: 3px solid;
    border-bottom: 3px solid;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    outline: none;
    position: relative;
    align-self: center;
}
#budgets-list__menu-button::after {
    display: block;
    content: '';
    height: 3px;
    width: 1.5rem;
    position: relative;
    left: -0.75rem;
    background: black;
}
#budgets-list__menu-button.loading-rotate {
    opacity: 0.5;
}
#budgets-list__menu-button.loading-rotate::before {
    position: absolute;
    left: -0.25rem;    
    width: 0.75rem;
    height: 0.75rem;
}

@media screen and (max-width: 425px) {
    #budgets-list {
        max-width: 100%;
        flex-basis: 100%;
        position: absolute;
        left: 0;
        right: 0;
        height: 100%;
    }
    .budgets-list--empty #budgets-list__items::after {
        width: 50%;
        left: 25%;
    }
}
