#budget-details {
    display: flex;
    flex-grow: 1;
    opacity: 1;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    max-height: 100vh;
}

.budget-details__header {
    display: flex;
    justify-content: space-between;
}

.budget-details__main {
    flex-grow: 1;
    padding: 1rem;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.budget-details__aside {
    display: flex;
    flex-direction: column;
}

#budget-details.exit,
#budget-details.hidden {
    transform: translateY(1rem);
    opacity: 0;
}

.budget-details__counters,
.budget-details__title {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.budget-details__title {
    margin: 0.25rem;
}

.budget-details__counter-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.budget-details__counter {
    font-size: 4rem;
    padding: 1rem;
    display: flex;
    align-items: flex-end;
}

.budget-details__counter::before {
    display: inline-block;
    border-radius: 50%;
    width: 1.15rem;
    height: 1.15rem;
    align-self: center;
    font-size: 1rem;
    text-align: center;
    margin: 0 0.25rem;
}

.budget-details__counter--negative::before {
    background-color: indianred;
    content: '-';
}

.budget-details__counter--positive::before {
    background-color: lightgreen;
    content: '+';
}

.budget-details__transactions {
    flex-grow: 1;
}

.budget-details__counters,
.budget-details__transactions {
    max-width: 50%;
    margin: 0 auto;
}

.budget-details__aside .tabs {
    flex-grow: 1;
    margin-bottom: 0;
    width: 100%;
}

.budget-details__aside .tabs label {
    align-self: baseline;
}

.budget-details__aside .content {
    align-self: flex-start;
    height: calc(100% - 55px);
}

.budget-details__tab-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow: auto;
}

#budget-details #send-invite {
    width: 100%;
}

.budget-details__actions {
    justify-content: center;
    align-items: center;
    width: 100%;
    display: none;
}

.budget-details__actions--isopen {
    justify-content: center;
    display: none;
}

.budget-details__actions--visible {
    display: flex;
}

.budget-details__action {
    margin: 0 0.5rem;
}

.budget-details__aside {
    max-width: 300px;
    min-width: 100px;
    width: 25%;
}

@media screen and (max-width: 425px) {

    .budget-details__counters,
    .budget-details__transactions {
        max-width: 100%;
    }

    .budget-details__aside {
        width: 100%;
        max-width: 100%;
        height: 100%;
        left: 100%;
        top: 0;
        position: absolute;
        overflow: hidden;
        transition: transform 0.3s ease-in-out;
        background-color: beige;
        padding: 1rem;
    }

    .budget-details__aside--visible {
        transform: translateX(-100%);
    }

    .budget-details__counter {
        font-size: 15vw;
    }
}

@media all and (prefers-color-scheme: dark) {
    .budget-details__aside {
        background-color: #41403e;
        color: beige;
    }
}
html.dark {
    .budget-details__aside {
        background-color: #41403e;
        color: beige;
    }
}